@import './constants';

.header-section {
	grid-row: 1/2;
	grid-column: 1/2;
	background-color: $purple2;
	color: white;
}

.side-bar-section {
	grid-row: 2/-1;
	grid-column: 1/2;
	background-color: $purple1;
	color: white;
}

.search-header {
	grid-column: 2/3;
	grid-row: 1/2;
}

.filter-button {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
}

.notes-contianer {
	grid-column: 2/3;
	grid-row: 3/4;
}
