@import './constants';

.header-section {
	grid-row: 1/2;
	grid-column: 1/2;
	background-color: $purple2;
	color: white;
}

.side-bar-section {
	grid-row: 2/-1;
	grid-column: 1/2;
	background-color: $purple1;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   .sidebar-bottom-section{

    }
}

.search-header {
	grid-column: 2/3;
    grid-row: 1/2; 
    padding: 0 3rem;
    display: flex;
    justify-content: start;
    align-items: center; 

    span{
        font-size: 2rem; 
        color: $textColor1; 
        margin-right: 1.5rem; 
    } 

    input {
        border: none;
        color: $textColor1;
    }
}

.filter-button {
	grid-column: 2/3;
	grid-row: 2/3;
    display: flex; 
    background-color: $backgroundColor1;
}

.notes-contianer {
	grid-column: 2/3;
    grid-row: 3/4;
    background-color: $backgroundColor1;
}
